@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Medium.woff2') format('woff2'),
        url('JosefinSans-Medium.woff') format('woff'),
        url('JosefinSans-Medium.ttf') format('truetype'),
        url('JosefinSans-Medium.svg#JosefinSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('JosefinSans-SemiBold.woff') format('woff'),
        url('JosefinSans-SemiBold.ttf') format('truetype'),
        url('JosefinSans-SemiBold.svg#JosefinSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('JosefinSans-Regular.woff') format('woff'),
        url('JosefinSans-Regular.ttf') format('truetype'),
        url('JosefinSans-Regular.svg#JosefinSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('JosefinSans-Bold.woff') format('woff'),
        url('JosefinSans-Bold.ttf') format('truetype'),
        url('JosefinSans-Bold.svg#JosefinSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bowlby One SC';
    src: url('../fonts/BowlbyOneSC-Regular.woff2') format('woff2'),
        url('BowlbyOneSC-Regular.woff') format('woff'),
        url('BowlbyOneSC-Regular.ttf') format('truetype'),
        url('BowlbyOneSC-Regular.svg#BowlbyOneSC-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

